* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  background: #202015;
  color: #fff;
}

body,
input,
textarea,
button {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
